{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="page">
        <div class="flex-fill">
            <div class="header py-4">
                <div class="container">
                    <div class="d-flex">
                        <a class="header-brand" href="#f">

                        </a>

                    </div>
                </div>
            </div>

            <div class="wrap">
                <div class="container asfo">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

                        <li class="nav-item">
                            <a class="header-brand ops" href="#">
                                <img src="{% static 'assets/images/ƛ.png' %}" class="header-brand-img"
                                     alt="tabler logo">Информационус
                            </a>
                        </li>
                        <li class="nav-item">

                            <a class="nav-link  pg ik" href="{% url 'activity_map' %}">Расчет рентабельности</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active pg" href="">Информация о компании в сети</a>
                        </li>

                    </ul>
                </div>
                <form method="post" class="col-sm-7 adcol ad aig" style="margin-top: 10%">
                    <div class="form-group spec">
                        <label style="color: #495057">Введите ИНН</label>
                        <div class="row gutters-xs">
                            {%csrf_token %}
                            <div class="col form-group">
                                <input id="searchMapInput" name="inn" class="form-control" type="text" placeholder="ИНН">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" style="width: 100%" type="submit">Поиск</button>
                    </div>
                </form>


            </div>
        </div>

    </div>

    <script>
        function initMap() {
            var input = document.getElementById('searchMapInput');
            var autocomplete = new google.maps.places.Autocomplete(input);
            autocomplete.addListener('place_changed', function () {
                var place = autocomplete.getPlace();
                $("#id_lat").val(place.geometry.location.lat());
                $("#id_lng").val(place.geometry.location.lng());
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmgH3lB-XYKLsxHBa0_kg3WUzHFtPBvN4&libraries=places&callback=initMap"
            async defer></script>
{% endblock %}
